body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}
.button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.button:hover {
    background-color: #639c66;
}

input {
    margin-bottom: 10px;
    outline: none;
    border: 1px solid #4CAF50 ;
    height: 30px;
}



.result {
    margin-top: 20px;
    font-weight: bold;
}